@import '../../../Colors.scss';

.ListaFilmovaPocetna{
    position: fixed;
    height: 400px;
    display: -webkit-flex;
    align-items: center;
    -webkit-transition:.1s;
    margin-left: 25px;
    top:480px;

    .Film {
        min-width: 217px;
        height: 322px;
        margin-right: 26px;
        border-radius: 5px;
        background:no-repeat center center;
        background-size: cover;
        border: 5px solid transparent;
        box-sizing: border-box;

        &.active{
            border: 5px solid $light;
        }
    }
}