.ListaFilmovaPocetna{
    position: relative;
    height: 400px;
    background:white;
    display: -webkit-flex;
    align-items: center;
    transition:.2s;
    margin-left: 20px;

    .Film {
        min-width: 217px;
        height: 322px;
        margin-right: 31px;
        border-radius: 5px;
        background:no-repeat center center;
        background-size: cover;
    }
}