@import '../../../Colors.scss';

.ListaFilmovaPocetna{
    position: fixed;
    height: 400px;
    display: -webkit-flex;
    align-items: center;
    -webkit-transition:.3s;
    top:460px;
    left: 430px;

    &.two{
        top:920px;
    }

    .Film {
        min-width: 217px;
        height: 322px;
        margin-right: 26px;
        border-radius: 5px;
        background:no-repeat center center;
        background-size: cover;
        border: 5px solid transparent;

        &.active{
            border: 5px solid $light;
        }

        
    }

    &.translate{
        transform: translateY(-250px);
    }
}