@import '../../../Colors.scss';

.PrikazFilmovi {
    position: relative;
    margin-top: 20px;
    transition:.2s;

    .prikaz{
        display: -webkit-flex;

        .Film{
            display: -webkit-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            min-width: 217px;
            height: 332px;
            margin-right: 30px;
            margin-bottom: 20px;
            overflow: hidden;
            border-radius: 5px;
            background:url('../../../assets/Delete/movie.png') no-repeat center ceneter;
            background-size: cover;

            &.active{
                .opis{
                    height: 95px;
                }
            }

            .opis{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 0;
                background:$light;
                transition: .2s;


                h5{
                    margin:0;
                    text-transform: uppercase;
                    font-size: 18px;
                    margin:7px 16px;
                }

                .zanr{
                    padding:7px 16px;
                    box-sizing: border-box;
                    height: 59px;
                    background:$main;

                    .rating {
                        display: -webkit-flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 8px;
                        

                        p{
                            font-size: 17px;
                        }

                        .stars{
                            --percent: calc( var(--stars) / 5 * 100%);
                            display: inline-block;
                            font-family: Times; // make sure ★ appears correctly
                            line-height: 1;
                            
                            &::before {
                              content: '★★★★★';
                              letter-spacing: 3px;
                              background: linear-gradient(90deg, #EAEF05 var(--percent), white var(--percent));
                              -webkit-background-clip: text;
                              -webkit-text-fill-color: transparent;
                            }
                        }
                    }

                    p{
                        margin:0;
                        font-weight: 500;
                        font-size: 14px;
                    }
                }
            }
        }
    }

}