@import "../../../Colors.scss";

.FimoviKateogirje {
  position: fixed;
  left:410px;
  top:185px;
  z-index: 0;
  -webkit-transition:.2s;

  .Kategorija {
    width: 515px;
    height: 77px;
    background: #4a4a4a;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 25px;
    -webkit-transition: .2s;

    // text-align: center;
    h3 {
      margin: 0;
      padding-top: 16px;
      font-size: 20px;
      text-transform: uppercase;
      color: $text;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
    }

    p {
      font-size: 17px;
      width: 100%;
      background: $elements;
      padding: 5px 20px;
      box-sizing: border-box;
    }

    &.active {
      background: $light;
      p {
        background: $main;
      }
    }
  }
}
