@import "../../../Colors.scss";

.FimoviKateogirje {
  position: relative;
  min-width: 575px;
  margin-top: 50px;
  z-index: -1;
  transition:.2s;

  .Kategorija {
    width: 515px;
    height: 77px;
    background: #f0f0f0;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 25px;
    transition: .2s;

    h3 {
      margin: 0;
      padding-top: 16px;
      font-size: 20px;
      text-transform: uppercase;
      color: #6f6f6f;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
    }

    p {
      font-size: 17px;
      width: 100%;
      background: #a8a8a8;
      padding: 5px 20px;
      box-sizing: border-box;
    }

    &.active {
      background: $side;
      h3 {
        color: $text;
      }

      p {
        background: $light;
      }
    }
  }
}
