@import "../../../Colors.scss";

.KategorijeTVKanali {
  position: absolute;
  height: 100%;
  width: 280px;
  background: #131313;
  z-index: 10;
  left: 90px;
  top: 0;
  overflow: hidden;
  opacity: 0.9;
  z-index: 101;
  

  .container{
      position: relative;
      -webkit-transition: .3s;
  }

  .Kategorija{
      position: absolute;
      display: -webkit-flex;
      align-items: center;
      width: 100%;
      height: 60px;
      padding-left: 25px;
      font-size: 23px;
      box-sizing: border-box;
      -webkit-transition: .3s;
      

      &.active{
          background:$light;
      }
  }
}
