@import '../../../Colors.scss';

.FilmButtons {
  display: -webkit-flex;
  color: $text;
  width: 1700px;
  margin: 0 auto;
  margin-top: 27px;
  -webkit-transition:  all .1s, opacity .1s;
  margin-bottom: 49px;

  &.show{
    opacity: 0;
    // height: 0;
    margin-top:0;
    margin-bottom: 0;
  }

  div {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    width: 205px;
    border: 2px solid transparent;
    height: 45px;
    border-radius: 5px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 600;
    background:$elements;
    border-radius: 50px;

    &.active {
      border: 2px solid $text;
    }

    svg {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
}
