.Filmovi {
    position: absolute;
    left: 350px;
    display: -webkit-flex;
    transition:.3s;

    &.active{
        left: 95px;

        .FimoviKateogirje{
            left:130px;
        }

        .SortiranjeIPretraga{
            right: 600px;
        }

        .Sort{
            right: 0;
        }

        .PrikazFilmovi{
            left:700px;
        }
    }
    
    .main {
        overflow: hidden;
    }
}