@import '../../../Colors.scss';

.TVKanaliPocetna{
    position: fixed;
    top:230px;
    height: 167px;
    width: 100%;
    display: -webkit-flex;
    align-items: center;
    -webkit-transition:ease-out 1.5s;
    left: 450px;

    .Kanal {
        display:-webkit-flex;
        justify-content: center;
        align-items: center;
        min-width: 185px;
        height: 113px;
        border-radius: 30px;
        border:4px solid transparent;

        &.active{
            border:4px solid $light;
            background:$elements;
        }

        div{
            width: 60%;
            height: 60%;
            background:no-repeat center center;
            background-size: cover;
        }
    }
}