$main: #431D62;
$side : #A554E4;
$light : #573076;
$text: #fff;

$background: linear-gradient(#1E0F29,#251E2B);

$elements:#2f2f2f;


//Reskin Red

// $main: #800000;
// $side: #aa0d0d;
// $light: #e34949;
// $text:#fff;
// $background: linear-gradient(#800000,#aa0d0d);

// background: linear-gradient(180deg, #1E0F29 0%, #282828 51.04%, #251E2B 100%);
