$main: #355584;
$side : #285BA5;
$light : #4176C2;
$text: #fff;

$background: linear-gradient(#2a4873,#1E4F94);


//Reskin Red

// $main: #800000;
// $side: #aa0d0d;
// $light: #e34949;
// $text:#fff;
// $background: linear-gradient(#800000,#aa0d0d);