@import '../../../Colors.scss';

.Pocetna {
  position: absolute;
  width: 100%;
  top:30px;
  top:167px;
  box-sizing: border-box;
  transition: .2s;

  &.padding{
      top:-170px;
  }
  
  &.active{
    padding-left: 95px;

    .row{
      left:95px;
    }

    .TVKanaliPocetna{
      left:150px;
    }

    .ListaFilmovaPocetna{
      left: 130px;
    }
  }

  .row {
    position: absolute;
    left:370px;
    top:0;
    display: -webkit-flex;
    align-items: center;
    height: 49px;
    width: 400px;
    background: #2f2f2f;
    box-shadow: 0px 3px 7px 0px #00000030;
    overflow: visible;
    z-index: 10;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: ease-out .4s;


    p {
      margin: 0 60px;
      text-transform: uppercase;
      font-size: 23px;
      letter-spacing: 10%;
      font-weight: 600;
    }

    &.two{
      top:250px!important;
    }

    &.three{
      top:700px!important;
    }

    &.translate{
      transform: translateY(-250px);
    }
  }
}
