@import '../../../Colors.scss';

.Sort{
    position: fixed;
    width: 1218px;
    right:-280px;
    top:285px;
    display: -webkit-flex;
    justify-content: space-between;
    transition: .2s;

    div{
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        background:$elements;
        margin-right: 5px;
        width: 25%;
        height: 55px;

        &.active{
            background: $light;
        }
    }
}